config MTK_ICM42607_A
        bool "ICM42607 for MediaTek package"
        default n
        help
        It support different accelerometer sensor.
        If this option is set,
            it will support
            ICM42607 accelerometer.
