# SPDX-License-Identifier: GPL-2.0-only

config VIDEO_QCOM_VPE
	tristate "Qualcomm MSM8x60 Video Processing Engine driver"
	depends on V4L_MEM2MEM_DRIVERS
	depends on VIDEO_DEV
	depends on ARCH_QCOM || COMPILE_TEST
	depends on PM
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_MEM2MEM_DEV
	help
	  This is a V4L2 mem2mem driver for the Qualcomm Video Processing
	  Engine (VPE) found in the MSM8260/MSM8660/APQ8060 SoCs.

	  The VPE provides hardware-accelerated NV12 scaling and rotation.

	  To compile this driver as a module, choose M here. The module
	  will be called qcom-vpe.
