// SPDX-License-Identifier: (GPL-2.0 OR BSD-2-Clause)
/*
 * Common base for HP TouchPad variants (Topaz 3G and Opal WiFi)
 */

#include <dt-bindings/input/input.h>
/* Cypress CY8CTMA395 touchscreen - uses UART for touch data, I2C for config */
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>
#include <dt-bindings/pinctrl/qcom,pmic-mpp.h>
#include <dt-bindings/reset/qcom,gcc-msm8660.h>
#include <dt-bindings/clock/qcom,mmcc-msm8960.h>
#include <dt-bindings/interconnect/qcom,msm8660.h>
#include <dt-bindings/clock/qcom,rpmcc.h>
#include <dt-bindings/sound/qcom,q6dsp-lpass-ports.h>
#include "qcom-msm8660.dtsi"
#include "pm8058.dtsi"

// beware, framebuffer conflicts with jack UART debugging
#define USE_FRAMEBUFFER 0

/ {
	model = "HP TouchPad";
	compatible = "qcom,apq8060-tenderloin", "qcom,msm8660";

	aliases {
		mmc0 = &sdcc1;	/* mmcblk0 for eMMC/SD */
		serial0 = &gsbi12_serial; /* Console - /dev/ttyMSM0 */
		serial1 = &gsbi6_serial;  /* Bluetooth - /dev/ttyMSM1 */
		serial2 = &gsbi10_serial; /* Touchscreen UART - /dev/ttyMSM2 */
		serial3 = &gsbi5_serial;  /* GPS - /dev/ttyMSM3 */
		display0 = &lg_panel;
	};

	chosen {
		/* Bootloader passes console=tty1, which overrides stdout-path */
		bootargs = "console=ttyMSM0,115200 console=ttyGS0,115200 clk_ignore_unused log_buf_len=4M";
		stdout-path = "serial0:115200n8";
#if USE_FRAMEBUFFER
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		fb0: framebuffer@7f600000 {
			compatible = "simple-framebuffer";
			status = "okay";
			reg = <0x7f600000 (1024 * 768 * 4 * 3)>;
			width = <1024>;
			height = <768>;
			stride = <(1024 * 4)>;
			format = "a8r8g8b8";
			display = <&lg_panel>;
		};
#endif
	};

	clocks {
		sleep_clk: sleep-clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <32768>;
			clock-output-names = "sleep_clk";
		};
	};

	regulators {
		compatible = "simple-bus";

		/* Main power of the board: 3.7V */
		vph: regulator-fixed {
			compatible = "regulator-fixed";
			regulator-min-microvolt = <3700000>;
			regulator-max-microvolt = <3700000>;
			regulator-name = "VPH";
			regulator-always-on;
			regulator-boot-on;
		};

		/* 5v bias */
		vdd50_boost: vdd50 {
			compatible = "regulator-fixed";

			regulator-name = "vdd50_boost";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;

			gpio = <&tlmm 102 GPIO_ACTIVE_HIGH>;
			enable-active-high;

			regulator-always-on;
			regulator-boot-on;
		};

		dummy0: regulator-fixed0 {
			compatible = "regulator-fixed";
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3000000>;
			regulator-name = "dummy0";
		};

		dummy1: regulator-fixed1 {
			compatible = "regulator-fixed";
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3000000>;
			regulator-name = "dummy1";
		};

		/*
		 * Audio LDO regulators for WM8958 codec
		 * Optional - codec may work with PMIC regulators alone
		 */
		aud_ldo1: regulator-fixed-aud-ldo1 {
			compatible = "regulator-fixed";
			regulator-name = "aud_ldo1";
			regulator-min-microvolt = <2850000>;
			regulator-max-microvolt = <2850000>;

			gpio = <&tlmm 66 GPIO_ACTIVE_HIGH>;
			enable-active-high;

			pinctrl-names = "default";
			pinctrl-0 = <&aud_ldo1_pins>;
		};

		aud_ldo2: regulator-fixed-aud-ldo2 {
			compatible = "regulator-fixed";
			regulator-name = "aud_ldo2";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;

			gpio = <&tlmm 108 GPIO_ACTIVE_HIGH>;
			enable-active-high;

			pinctrl-names = "default";
			pinctrl-0 = <&aud_ldo2_pins>;
		};
	};

	ath6kl_pwrseq: ath6kl-pwrseq {
		compatible = "mmc-pwrseq-simple";

		/*
		 * WiFi Power Sequence for AR6003:
		 * GPIO 135 = WLAN_RST_N (active low reset)
		 * Note: GPIO 93/137 are wake GPIOs handled separately
		 */
		reset-gpios = <&tlmm 135 GPIO_ACTIVE_LOW>;

		/* 32kHz sleep clock for AR6003 */
		clocks = <&sleep_clk>;
		clock-names = "ext_clock";

		/* AR6003 needs time after reset to enter BMI mode */
		post-power-on-delay-ms = <200>;
	};

	soc {
		/*
		 * Interconnect Fabrics
		 * MSM8660/APQ8060 uses a fabric-based bus architecture with:
		 * - APPSS Fabric: CPU and memory
		 * - System Fabric: Peripherals and DMA
		 * - MMSS Fabric: Multimedia subsystem (MDP, camera, video)
		 */
		apps_fabric: interconnect@0 {
			compatible = "qcom,msm8660-apps-fabric";
			#interconnect-cells = <1>;
			clocks = <&rpmcc RPM_APPS_FABRIC_CLK>,
				 <&rpmcc RPM_APPS_FABRIC_A_CLK>;
			clock-names = "bus", "bus_a";
		};

		system_fabric: interconnect@1 {
			compatible = "qcom,msm8660-system-fabric";
			#interconnect-cells = <1>;
			clocks = <&rpmcc RPM_SYS_FABRIC_CLK>,
				 <&rpmcc RPM_SYS_FABRIC_A_CLK>;
			clock-names = "bus", "bus_a";
		};

		mmss_fabric: interconnect@2 {
			compatible = "qcom,msm8660-mmss-fabric";
			#interconnect-cells = <1>;
			clocks = <&rpmcc RPM_MM_FABRIC_CLK>,
				 <&rpmcc RPM_MM_FABRIC_A_CLK>;
			clock-names = "bus", "bus_a";
		};

		/*
		 * address could be 0x18320000   INT_ADM0_AARM = irq 171
		 * but maybe we want 0x18300000  INT_ADM0_MASTER = irq 170, like on ipq8064 ?
		 * Note: there is also an ADM1 at 0x18420000 !
		 *           0x18420000   INT_ADM1_AARM = irq 167
		 *        or 0x18400000   INT_ADM1_MASTER = irq 166
		 */
		adm_dma0: dma-controller@18320000 {
			compatible = "qcom,adm";
			reg = <0x18320000 0x100000>;
			interrupts = <GIC_SPI 171 IRQ_TYPE_LEVEL_HIGH>;
			#dma-cells = <1>;

			clocks = <&gcc ADM0_CLK>, <&gcc ADM0_PBUS_CLK>;
			clock-names = "core", "iface";

			resets = <&gcc ADM0_RESET>,
				 <&gcc ADM0_PBUS_RESET>,
				 <&gcc ADM0_C0_RESET>,
				 <&gcc ADM0_C1_RESET>,
				 <&gcc ADM0_C2_RESET>;
			reset-names = "clk", "pbus", "c0", "c1", "c2";
			qcom,ee = <1>;
		};
		adm_dma1: dma-controller@18420000 {
			compatible = "qcom,adm";
			reg = <0x18420000 0x100000>;
			interrupts = <GIC_SPI 167 IRQ_TYPE_LEVEL_HIGH>;
			#dma-cells = <2>;  /* channel, crci */

			clocks = <&gcc ADM1_CLK>, <&gcc ADM1_PBUS_CLK>;
			clock-names = "core", "iface";

			resets = <&gcc ADM1_RESET>,
				 <&gcc ADM1_PBUS_RESET>,
				 <&gcc ADM1_C0_RESET>,
				 <&gcc ADM1_C1_RESET>,
				 <&gcc ADM1_C2_RESET>;
			reset-names = "clk", "pbus", "c0", "c1", "c2";
			qcom,ee = <1>;
		};

		gsbi4: gsbi@16300000 {
			compatible = "qcom,gsbi-v1.0.0";
			cell-index = <4>;
			reg = <0x16300000 0x03>;
			clocks = <&gcc GSBI4_H_CLK>;
			clock-names = "iface";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;
			status = "disabled";

			gsbi4_i2c: i2c@16380000 {
				compatible = "qcom,i2c-qup-v1.1.1";
				reg = <0x16380000 0x1000>;
				interrupts = <GIC_SPI 153 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&gcc GSBI4_QUP_CLK>, <&gcc GSBI4_H_CLK>;
				clock-names = "core", "iface";
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};
		};

		gsbi10: gsbi@19a00000 {
			compatible = "qcom,gsbi-v1.0.0";
			cell-index = <10>;
			reg = <0x19a00000 0x100>;
			clocks = <&gcc GSBI10_H_CLK>;
			clock-names = "iface";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;
			status = "disabled";

			syscon-tcsr = <&tcsr>;

			gsbi10_serial: serial@19a40000 {
				compatible = "qcom,msm-uartdm-v1.3", "qcom,msm-uartdm";
				reg = <0x19a40000 0x1000>,
				      <0x19a00000 0x1000>;
				interrupts = <GIC_SPI 191 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&gcc GSBI10_UART_CLK>, <&gcc GSBI10_H_CLK>;
				clock-names = "core", "iface";

				dmas = <&adm_dma0 8>;
				dma-names = "rx";
				/*
				 * Palm change for GSBI10 DMA:
				 * tx-crci = (1 << 4) + 9 = 25
				 * rx-crci = (1 << 4) + 10 = 26
				 * qcom,tx-crci = <25>; (not used)
				 */
				qcom,rx-crci = <10>;

				status = "disabled";
			};

			gsbi10_i2c: i2c@19a80000 {
				compatible = "qcom,i2c-qup-v1.1.1";
				reg = <0x19a80000 0x1000>;
				interrupts = <GIC_SPI 192 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&gcc GSBI10_QUP_CLK>, <&gcc GSBI10_H_CLK>;
				clock-names = "core", "iface";
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};
		};

		qcom,ssbi@C00000 {
			compatible = "qcom,ssbi";
			reg = <0xC00000 0x1000>;
			qcom,controller-type = "pmic-arbiter";

			pm8901: pmic8901 {
				compatible = "qcom,pm8901";
				interrupts-extended = <&tlmm 91 IRQ_TYPE_LEVEL_LOW>;
				#interrupt-cells = <2>;
				interrupt-controller;
				#address-cells = <1>;
				#size-cells = <0>;

				pm8901_mpps: mpps@27 {
					compatible = "qcom,pm8901-mpp",
						     "qcom,ssbi-mpp";
					reg = <0x27>;
					gpio-controller;
					#gpio-cells = <2>;
					gpio-ranges = <&pm8901_mpps 0 0 4>;
					interrupt-controller;
					#interrupt-cells = <2>;
				};
			};
		};

		rpm@104000 {
			/*
			 * Set up of the PMIC RPM regulators for this board
			 * PM8901 supplies "preliminary regulators" whatever
			 * that means
			 */
			pm8901-regulators {
				compatible = "qcom,rpm-pm8901-regulators";

				vdd_l0-supply = <&pm8901_s4>;
				vdd_l1-supply = <&vph>;
				vdd_l2-supply = <&vph>;
				vdd_l3-supply = <&vph>;
				vdd_l4-supply = <&vph>;
				vdd_l5-supply = <&vph>;
				vdd_l6-supply = <&vph>;
				/* vdd_s0-supply, vdd_s1-supply: SAW regulators */
				vdd_s2-supply = <&vph>;
				vdd_s3-supply = <&vph>;
				vdd_s4-supply = <&vph>;
				lvs0_in-supply = <&pm8058_s3>;
				lvs1_in-supply = <&pm8901_s4>;
				lvs2_in-supply = <&pm8058_l0>;
				lvs3_in-supply = <&pm8058_s2>;
				mvs_in-supply = <&pm8058_s3>;

				pm8901_l0: l0 {
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					bias-pull-down;
				};
				pm8901_l1: l1 {
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					bias-pull-down;
					regulator-always-on; // wifi
				};
				pm8901_l2: l2 {
					regulator-min-microvolt = <2850000>;
					regulator-max-microvolt = <3300000>;
					bias-pull-down;
				};
				pm8901_l3: l3 {
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					bias-pull-down;
					regulator-always-on; // wifi
				};
				pm8901_l4: l4 {
					regulator-min-microvolt = <2600000>;
					regulator-max-microvolt = <2600000>;
					bias-pull-down;
				};
				pm8901_l5: l5 {
					regulator-min-microvolt = <2850000>;
					regulator-max-microvolt = <2850000>;
					bias-pull-down;
				};
				pm8901_l6: l6 {
					regulator-min-microvolt = <2200000>;
					regulator-max-microvolt = <2200000>;
					bias-pull-down;
				};

				/* s0 and s1 are SAW regulators controlled over SPM */
				pm8901_s2: s2 {
					regulator-min-microvolt = <1300000>;
					regulator-max-microvolt = <1300000>;
					qcom,switch-mode-frequency = <1600000>;
					bias-pull-down;
				};
				pm8901_s3: s3 {
					regulator-min-microvolt = <1100000>;
					regulator-max-microvolt = <1100000>;
					qcom,switch-mode-frequency = <1600000>;
					bias-pull-down;
				};
				pm8901_s4: s4 {
					regulator-min-microvolt = <1225000>;
					regulator-max-microvolt = <1225000>;
					qcom,switch-mode-frequency = <1600000>;
					bias-pull-down;
				};

				/* LVS0 thru 3 and mvs0 are just switches */
				pm8901_lvs0: lvs0 {
					regulator-always-on;
					bias-pull-down;
				};
				pm8901_lvs1: lvs1 {
					bias-pull-down;
				};
				pm8901_lvs2: lvs2 {
					bias-pull-down;
				};
				pm8901_lvs3: lvs3 {
					bias-pull-down;
				};

				pm8901_mvs: mvs {
					bias-pull-down;
				};
			};

			pm8058-regulators {
				compatible = "qcom,rpm-pm8058-regulators";

				vdd_l0_l1_lvs-supply = <&pm8058_s3>;
				vdd_l2_l11_l12-supply = <&vph>;
				vdd_l3_l4_l5-supply = <&vph>;
				vdd_l6_l7-supply = <&vph>;
				vdd_l8-supply = <&vph>;
				vdd_l9-supply = <&vph>;
				vdd_l10-supply = <&vph>;
				vdd_l13_l16-supply = <&pm8058_s4>;
				vdd_l14_l15-supply = <&vph>;
				vdd_l17_l18-supply = <&vph>;
				vdd_l19_l20-supply = <&vph>;
				vdd_l21-supply = <&pm8058_s3>;
				vdd_l22-supply = <&pm8058_s3>;
				vdd_l23_l24_l25-supply = <&pm8058_s3>;
				vdd_s0-supply = <&vph>;
				vdd_s1-supply = <&vph>;
				vdd_s2-supply = <&vph>;
				vdd_s3-supply = <&vph>;
				vdd_s4-supply = <&vph>;
				vdd_ncp-supply = <&vph>;

				pm8058_l0: l0 {
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					bias-pull-down;
				};
				pm8058_l1: l1 {
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					bias-pull-down;
				};
				pm8058_l2: l2 {
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <2600000>;
					bias-pull-down;
				};
				pm8058_l3: l3 {
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					bias-pull-down;
				};
				pm8058_l4: l4 {
					regulator-min-microvolt = <2850000>;
					regulator-max-microvolt = <2850000>;
					bias-pull-down;
					/* Audio codec (WM8958) power - must be on at boot */
					regulator-boot-on;
					regulator-always-on;
				};
				pm8058_l5: l5 {
					regulator-min-microvolt = <2850000>;
					regulator-max-microvolt = <2850000>;
					bias-pull-down;
				};
				pm8058_l6: l6 {
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3600000>;
					bias-pull-down;
				};
				pm8058_l7: l7 {
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					bias-pull-down;
				};
				pm8058_l8: l8 {
					regulator-min-microvolt = <2900000>;
					regulator-max-microvolt = <3050000>;
					bias-pull-down;
				};
				pm8058_l9: l9 {
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					bias-pull-down;
				};
				pm8058_l10: l10 {
					regulator-min-microvolt = <3050000>;
					regulator-max-microvolt = <3050000>;
					bias-pull-down;
					regulator-always-on; // wifi
				};
				pm8058_l11: l11 {
					regulator-min-microvolt = <2850000>;
					regulator-max-microvolt = <2850000>;
					bias-pull-down;
				};
				pm8058_l12: l12 {
					regulator-min-microvolt = <2900000>;
					regulator-max-microvolt = <2900000>;
					bias-pull-down;
				};
				pm8058_l13: l13 {
					regulator-min-microvolt = <2050000>;
					regulator-max-microvolt = <2050000>;
					bias-pull-down;
				};
				pm8058_l14: l14 {
					regulator-min-microvolt = <2850000>;
					regulator-max-microvolt = <2850000>;
				};
				pm8058_l15: l15 {
					regulator-min-microvolt = <2850000>;
					regulator-max-microvolt = <2850000>;
					bias-pull-down;
				};
				pm8058_l16: l16 {
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					bias-pull-down;
					/*
					 * RPM driver can't handle always-on regulators that are
					 * supplied by regulators initialized after them.
					 */
					regulator-always-on;
				};
				pm8058_l17: l17 {
					// 1.5V according to schematic
					regulator-min-microvolt = <2600000>;
					regulator-max-microvolt = <2600000>;
					bias-pull-down;
				};
				pm8058_l18: l18 {
					regulator-min-microvolt = <2200000>;
					regulator-max-microvolt = <2200000>;
					bias-pull-down;
				};
				pm8058_l19: l19 {
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					bias-pull-down;
					regulator-always-on; // wifi
				};
				pm8058_l20: l20 {
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					bias-pull-down;
				};
				pm8058_l21: l21 {
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					bias-pull-down;
					/*
					 * RPM driver can't handle always-on regulators that are
					 * supplied by regulators initialized after them.
					 */
					regulator-always-on;
				};
				pm8058_l22: l22 {
					// 1.2 V according to schematic
					regulator-min-microvolt = <1150000>;
					regulator-max-microvolt = <1150000>;
					bias-pull-down;
				};
				pm8058_l23: l23 {
					// Unused
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					bias-pull-down;
				};
				pm8058_l24: l24 {
					// Unused
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					bias-pull-down;
				};
				pm8058_l25: l25 {
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					bias-pull-down;
				};

				pm8058_s0: s0 {
					// regulator-min-microvolt = <800000>;
					// regulator-max-microvolt = <1325000>;
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1350000>;
					qcom,switch-mode-frequency = <1600000>;
					bias-pull-down;
				};
				pm8058_s1: s1 {
					// regulator-min-microvolt = <800000>;
					// regulator-max-microvolt = <1325000>;
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1350000>;
					qcom,switch-mode-frequency = <1600000>;
					bias-pull-down;
					//regulator-always-on;
				};
				pm8058_s2: s2 {
					// 1.3 V according to schematic
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1400000>;
					qcom,switch-mode-frequency = <1600000>;
					bias-pull-down;
				};
				pm8058_s3: s3 {
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					qcom,switch-mode-frequency = <1600000>;
					bias-pull-down;
					regulator-allow-set-load;
					/* Core 1.8V rail for audio, WiFi, sensors - must be on early */
					regulator-boot-on;
					regulator-always-on;
				};
				pm8058_s4: s4 {
					regulator-min-microvolt = <2200000>;
					regulator-max-microvolt = <2200000>;
					qcom,switch-mode-frequency = <1600000>;
					bias-pull-down;
					regulator-always-on;
				};

				/* LVS0 and LVS1 are just switches */
				pm8058_lvs0: lvs0 {
					bias-pull-down;
				};
				pm8058_lvs1: lvs1 {
					bias-pull-down;
				};

				pm8058_ncp: ncp {
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					qcom,switch-mode-frequency = <1600000>;
				};
			};
		};

		usb1: usb@12500000 {
			compatible = "qcom,ci-hdrc";
			reg = <0x12500000 0x200>,
			      <0x12500200 0x200>;
			interrupts = <GIC_SPI 100 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&gcc USB_HS1_XCVR_CLK>, <&gcc USB_HS1_H_CLK>;
			clock-names = "core", "iface";
			assigned-clocks = <&gcc USB_HS1_XCVR_CLK>;
			assigned-clock-rates = <60000000>;
			resets = <&gcc USB_HS1_RESET>;
			reset-names = "core";
			phy_type = "ulpi";
			ahb-burst-config = <0>;
			phys = <&usb_hs1_phy>;
			phy-names = "usb-phy";
			status = "disabled";
			#reset-cells = <1>;

			ulpi {
				usb_hs1_phy: phy {
					compatible = "qcom,usb-hs-phy-apq8064",
						     "qcom,usb-hs-phy";
					clocks = <&sleep_clk>, <&cxo_board>;
					clock-names = "sleep", "ref";
					resets = <&usb1 0>;
					reset-names = "por";
					#phy-cells = <0>;
				};
			};
		};

		mmcc: clock-controller@4000000 {
			compatible = "qcom,mmcc-msm8660";
			reg = <0x4000000 0x1000>;
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		gpu: adreno@4300000 {
			compatible = "qcom,adreno-220.0", "qcom,adreno";
			reg = <0x04300000 0x20000>;
			reg-names = "kgsl_3d0_reg_memory";
			interrupts = <GIC_SPI 80 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "kgsl_3d0_irq";
			clock-names = "core_clk",
				      "iface_clk",
				      "mem_clk";
			clocks = <&mmcc GFX3D_CLK>,
				 <&mmcc GFX3D_AHB_CLK>,
				 <&mmcc GMEM_AXI_CLK>;

			operating-points-v2 = <&gpu_opp_table>;

			/*
			 * GPU interconnect - disabled for now.
			 * Cross-fabric paths need driver rework.
			 */

			gpu_opp_table: opp-table {
				compatible = "operating-points-v2";

				opp-266667000 {
					opp-hz = /bits/ 64 <266667000>;
				};

				opp-27000000 {
					opp-hz = /bits/ 64 <27000000>;
				};
			};
		};

		mdp: mdp@5100000 {
			compatible = "qcom,mdp4";
			reg = <0x05100000 0xf0000>;
			interrupts = <GIC_SPI 75 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&mmcc MDP_CLK>,
				 <&mmcc MDP_AHB_CLK>,
				 <&mmcc MDP_AXI_CLK>,
				 <&mmcc HDMI_TV_CLK>,
				 <&mmcc MDP_TV_CLK>,
				 <&mmcc MDP_LCDC_CLK>;
			clock-names = "core_clk",
				      "iface_clk",
				      "bus_clk",
				      "hdmi_clk",
				      "tv_clk",
				      "lcdc_clk";

			lvds-vccs-3p3v-supply = <&pm8058_l10>;

			status = "okay";
			memory-region = <&scanout_mem>;

			// align on LSB instead of MSB
			qcom,lcdc-align-lsb;

			/*
			 * Interconnect paths for MDP - disabled for now.
			 * The USB coexistence issue is solved by the mmfab parent
			 * clock relationship in mmcc-msm8960.c. Cross-fabric
			 * interconnect paths need driver rework to function.
			 */

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					mdp_lvds_out: endpoint {
						remote-endpoint = <&panel_in>;
					};
				};

				port@1 {
					reg = <1>;
					mdp_dsi1_out: endpoint {
					};
				};

				port@2 {
					reg = <2>;
					mdp_dsi2_out: endpoint {
					};
				};

				port@3 {
					reg = <3>;
					mdp_dtv_out: endpoint {
						/* HDMI removed - TouchPad has no HDMI output */
					};
				};
			};
		};

		hdmi: hdmi-tx@4a00000 {
			compatible = "qcom,hdmi-tx-8660";
			reg = <0x04a00000 0x2f0>;
			reg-names = "core_physical";
			status = "disabled"; /* TouchPad has no HDMI - disable to fix USB */

			interrupts = <GIC_SPI 79 IRQ_TYPE_LEVEL_HIGH>;

			clocks = <&mmcc HDMI_APP_CLK>,
				 <&mmcc HDMI_M_AHB_CLK>,
				 <&mmcc HDMI_S_AHB_CLK>;
			clock-names = "core",
				      "master_iface",
				      "slave_iface";

			core-vdda-supply = <&pm8058_l10>;
			hdmi-mux-supply = <&pm8901_mvs>;

			pinctrl-names = "default";
			pinctrl-0 = <&hdmi_pinctrl>;

			phys = <&hdmi_phy>;
			phy-names = "hdmi-phy";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					hdmi_in: endpoint {
						remote-endpoint = <&mdp_dtv_out>;
					};
				};

				port@1 {
					reg = <1>;
					hdmi_out: endpoint {
						/* External HDMI connector */
					};
				};
			};
		};

		hdmi_phy: hdmi-phy@4a00400 {
			compatible = "qcom,hdmi-phy-8660";
			reg = <0x4a00400 0x60>,
			      <0x4a00500 0x100>;
			reg-names = "hdmi_phy",
				    "hdmi_pll";
			status = "disabled"; /* TouchPad has no HDMI */

			clocks = <&mmcc HDMI_S_AHB_CLK>;
			clock-names = "slave_iface";

			#phy-cells = <0>;
			#clock-cells = <0>;
		};

		/* 16MiB for scanouts, drm/msm doesn't use the base address */
		scanout_mem: scanout_mem@0 {
			reg = <0x0 0x8000000>;
			no-map;
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pm8058_pwm 0 100000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
		pinctrl-names = "default";
		pinctrl-0 = <&backlight_pwm_gpios &backlight_enable_gpios>;
		power-supply = <&pm8058_l10>;
	};

	lg_panel: panel {
		compatible = "lg,xga";

		// reset-gpios = <&tlmm 62 GPIO_ACTIVE_HIGH>;
		// shdn??-gpios = <&tlmm 63 GPIO_ACTIVE_HIGH>;
		// VDD_LVDS_3.3: l10
		// ?? Due to hardware change, it will not use GPIO102 as 5V boost Enable since EVT1

		power-supply = <&pm8058_l10>;
		backlight = <&backlight>;

		pinctrl-names = "default";
		pinctrl-0 = <&panel_pins>;

		width-mm = <272>;
		height-mm = <181>;

		panel-timing {
			clock-frequency = <96000000>;
			hactive = <1024>;
			vactive = <768>;
			hfront-porch = <272>;
			hsync-len = <328>;
			hback-porch = <400>;
			vfront-porch = <10>;
			vsync-len = <7>;
			vback-porch = <6>;
		};

		port {
			panel_in: endpoint {
				remote-endpoint = <&mdp_lvds_out>;
			};
		};
	};

	/*
	 * Fast charging at up to 1400 mA is supported by the hardware, but
	 * requires cooperation with the USB controller and A6 battery
	 * controller. The USB port is connected to both the DC and USB
	 * inputs, so DCM must not be enabled unless we know the port can
	 * supply the configured current. The DC mode charging current is
	 * configured by a multiplexed set of resistors connected to IDC. As
	 * configured here, the device will always charge at 500 mA. This is
	 * technically USB non-compliant (enumeration is required), but
	 * should generally be safe. Unfortunately, at 500 mA the device
	 * will slowly discharge the battery if the screen is on.
	 */
	charger: max8903b {
		compatible = "maxim,max8903";
		pinctrl-names = "default";
		pinctrl-0 = <&charger_gpios>;
		cen-gpios = <&tlmm 41 GPIO_ACTIVE_HIGH>;
		chg-gpios = <&tlmm 36 GPIO_ACTIVE_LOW>;
		flt-gpios = <&tlmm 35 GPIO_ACTIVE_LOW>;
		usus-gpios = <&tlmm 33 GPIO_ACTIVE_LOW>;
		dcm-gpios = <&tlmm 42 GPIO_ACTIVE_LOW>;
		/*
		 * This is actually DOK, but this would cause the driver to
		 * enable high current charging.
		 */
		uok-gpios = <&tlmm 140 GPIO_ACTIVE_LOW>;
	};

	vibrator {
		compatible = "gpio-vibrator";
		enable-gpios = <&tlmm 79 GPIO_ACTIVE_HIGH>;
		vcc-supply = <&pm8058_l5>;
	};
};

&tlmm {
	/*
	 * WM8958 audio codec internal LDO enable GPIOs.
	 * These must be enabled early (before the WM8994 MFD driver probes)
	 * because the chip won't respond on I2C until its internal LDOs
	 * are powered. Use GPIO hogs to ensure they're enabled at boot.
	 */
	aud-ldo1-hog {
		gpio-hog;
		gpios = <66 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "AUD_LDO1_EN";
	};

	aud-ldo2-hog {
		gpio-hog;
		gpios = <108 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "AUD_LDO2_EN";
	};

	/* eMMC pins, all 8 data lines connected */
	emmc_pins: sdcc1-state {
		clk-pins {
			pins = "gpio167"; /* SDC1 CLK */
			function = "sdc1";
			drive-strength = <16>;
			bias-disable;
		};
		cmd-pins {
			pins = "gpio168"; /* SDC1 CMD */
			function = "sdc1";
			drive-strength = <10>;
			bias-pull-up;
		};
		data-pins {
			/* SDC1 D0 to D7 */
			pins = "gpio159", "gpio160", "gpio161", "gpio162",
				 "gpio163", "gpio164", "gpio165", "gpio166";
			function = "sdc1";
			drive-strength = <10>;
			bias-pull-up;
		};
	};

	sdcc4_pins: sdcc4-state {
		clk-pins {
			pins = "sdc4_clk";
			drive-strength = <8>;
			bias-disable;
		};
		cmd-pins {
			pins = "sdc4_cmd";
			drive-strength = <8>;
			bias-pull-up;
		};
		data-pins {
			pins = "sdc4_data";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	panel_pins: lcdc-state {
		mux-pins {
			pins =
			"gpio0",  "gpio1",  "gpio2",  "gpio3",  "gpio4",  "gpio5",  "gpio6",
			"gpio7",  "gpio8",  "gpio9",  "gpio10", "gpio11", "gpio12", "gpio13",
			"gpio14", "gpio15", "gpio16", "gpio17", "gpio18", "gpio19", "gpio20",
			"gpio21", "gpio22", "gpio23", "gpio24", "gpio25", "gpio26", "gpio27";
			function = "lcdc";
		};
	};

	gsbi3_i2c_pins: i2c3-state {
		pins = "gpio43", "gpio44";
		function = "gsbi3";
		drive-strength = <16>;
		bias-disable;
	};

	gsbi4_i2c_pins: i2c4-state {
		pins = "gpio47", "gpio48";
		function = "gsbi4";
		drive-strength = <16>;
		bias-disable;
	};

	/* GPS UART pins (GSBI5) */
	gsbi5_uart_pins: uart5-state {
		pins = "gpio103", "gpio104", "gpio105", "gpio106";
		function = "gsbi5";
		drive-strength = <8>;
		bias-disable;
	};

	gsbi6_uart_pins: i2c6-state {
		pins = "gpio53", "gpio54", "gpio55", "gpio56";
		function = "gsbi6";
		drive-strength = <16>;
		bias-disable;
	};

	bt_pin: bt-state {
		hostwake-pins {
			pins = "gpio129";
			function = "gpio";
		};

		devwake-pins {
			pins = "gpio131";
			function = "gpio";
		};

		shutdown-pins {
			pins = "gpio138";
			function = "gpio";
		};
	};

	gsbi7_i2c_pins: i2c7-state {
		pins = "gpio59", "gpio60";
		function = "gsbi7";
		drive-strength = <16>;
		bias-disable;
	};
	gsbi8_i2c_pins: gsbi8_i2c-state {
		pins = "gpio64", "gpio65";
		function = "gsbi8";
		drive-strength = <16>;
		/* These have external pull-up 2.2kOhm to 1.8V */
		bias-disable;
	};

	/*
	 * A6 Battery Controller 0 (0x31) - SBW/JTAG pins
	 *
	 * GPIO assignments differ between board revisions:
	 * - Pre-DVT (EVT1-EVT3): IRQ on GPIO 156
	 * - DVT/PVT (production): IRQ on GPIO 37
	 *
	 * Default configuration is for DVT/PVT (production devices).
	 * For pre-DVT boards, change irq-pins to "gpio156".
	 */
	a6_0_default: a6-0-default-state {
		sbw-pins {
			pins = "gpio157", "gpio158";  /* TCK, TDIO */
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
		wakeup-pins {
			pins = "gpio155";  /* WAKEUP */
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
		irq-pins {
			pins = "gpio37";  /* IRQ - DVT/PVT (pre-DVT: gpio156) */
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	/*
	 * A6 Battery Controller 1 (0x32) - SBW/JTAG pins
	 *
	 * GPIO assignments differ between board revisions:
	 * - Pre-DVT (EVT1-EVT3): IRQ on GPIO 132
	 * - DVT/PVT (production): IRQ on GPIO 94
	 *
	 * Default configuration is for DVT/PVT (production devices).
	 * For pre-DVT boards, change irq-pins to "gpio132".
	 */
	a6_1_default: a6-1-default-state {
		sbw-pins {
			pins = "gpio115", "gpio116";  /* TCK, TDIO */
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
		wakeup-pins {
			pins = "gpio141";  /* WAKEUP */
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
		irq-pins {
			pins = "gpio94";  /* IRQ - DVT/PVT (pre-DVT: gpio132) */
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	/* LM8502 LED Controller */
	lm8502_pins: lm8502-state {
		enable-pins {
			pins = "gpio121";  /* Enable */
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};
		irq-pins {
			pins = "gpio128";  /* Interrupt */
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	mpu3050_gpios: mpu-state {
		irq-pins {
			pins = "gpio125";
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};
	};

	accel_pins: accel-state {
		irq-pins {
			pins = "gpio124";  /* G-Sensor INT */
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};
	};

	camera_pins: camera-state {
		reset-pins {
			pins = "gpio106";  /* WEBCAM_RST */
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};
		pwdn-pins {
			pins = "gpio107";  /* WEBCAM_PWDN */
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};
		mclk-pins {
			pins = "gpio32";   /* CAMIF_MCLK */
			function = "cam_mclk";
			drive-strength = <2>;
			bias-disable;
		};
	};

	aud_ldo1_pins: aud-ldo1-state {
		ldo1-pins {
			pins = "gpio66";  /* AUD_LDO1_EN */
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};
	};

	aud_ldo2_pins: aud-ldo2-state {
		ldo2-pins {
			pins = "gpio108";  /* AUD_LDO2_EN */
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};
	};

	wm8958_pins: wm8958-state {
		micdet-pins {
			pins = "gpio57";  /* HEAD_MIC_DET_IRQ */
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
			input-enable;
		};

		ldo1-pins {
			pins = "gpio66";  /* AUD_LDO1_EN */
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};

		ldo2-pins {
			pins = "gpio108";  /* AUD_LDO2_EN */
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};
	};

	/* Headphone UART pins */
	headphone_uart_pins: gsbi12-serial-state {
		rx-pins {
			pins = "gpio117";
			function = "gsbi12";
			drive-strength = <2>;
			bias-pull-up;
		};
		tx-pins {
			pins = "gpio118";
			function = "gsbi12";
			drive-strength = <8>;
			bias-disable;
		};
		/* Connect headphone jack to UART rather than audio */
		enable-pins {
			pins = "gpio58";
			function = "gpio";
			output-high;
		};
	};

	charger_gpios: max8903b-state {
		in-pins {
			pins = "gpio35", "gpio36", "gpio140";
			function = "gpio";
			drive-strength = <2>;
			input-enable;
			bias-pull-up;
		};
		out-pins {
			pins = "gpio30", "gpio33", "gpio34", "gpio41", "gpio42", "gpio133";
			function = "gpio";
			drive-strength = <2>;
		};
		/* Safe initial state, charging disabled */
		dcm-pins {
			pins = "gpio42";
			function = "gpio";
			output-high;
		};
		/* 500 mA USB charging. Not controlled by driver. */
		iusb-pins {
			pins = "gpio133";
			function = "gpio";
			output-high;
		};
		usus-pins {
			pins = "gpio33";
			function = "gpio";
			output-low;
		};
		cen-pins {
			pins = "gpio41";
			function = "gpio";
			output-low;
		};
		/*
		 * Limit DC charging current to 750 mA, the
		 * minimum value. Appears to control a
		 * multiplexed set of resistors connected to
		 * the IDC pin. This functionality is not
		 * supported by the MAX8903 driver.
		 */
		d-iset-pins {
			pins = "gpio34", "gpio30";
			function = "gpio";
			output-low;
		};
	};

	wlan_gpios_reset: wlan-reset-state {
		irq-pins {
			pins = "gpio135";
			function = "gpio";
			bias-disable;
		};
	};

	wlan_gpios: wlan-state {
		/* WL_HOST_WAKE (GPIO 93) - WiFi signals host, input */
		host-wake-pins {
			pins = "gpio93";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-down;
			input-enable;
		};

		/* HOST_WAKE_WL (GPIO 137) - Host signals WiFi, output high to keep awake */
		device-wake-pins {
			pins = "gpio137";
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
			output-high;
		};
	};

	touch_pins: touch-pins-state {
		irq-pins {
			pins = "gpio123";
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};
	};

	/* CY8CTMA395 SWD programming interface
	 * Note: GPIOs 72/73 are normally I2C but get reconfigured for SWD programming
	 * The driver handles GPIO muxing via swdck_request/swdio_request callbacks
	 */
	cy8ctma395_default_state: cy8ctma395-default-state {
		xres-pins {
			pins = "gpio70";  /* TP_PWR_RST / XRES */
			function = "gpio";
			drive-strength = <8>;
			bias-disable;
			output-high;
		};

		wake-pins {
			pins = "gpio123";  /* GPIO_CTP_WAKE (WiFi), GPIO 45 on 3G */
			function = "gpio";
			drive-strength = <8>;
			bias-disable;
			output-high;
		};

		/* Note: GPIO 72 (SDA/SWDIO) and 73 (SCL/SWDCK) are configured
		 * by gsbi10_i2c_pins when in normal I2C mode, and dynamically
		 * reconfigured by the driver during SWD firmware programming
		 */
	};

	gsbi10_i2c_pins: i2c10-state {
		sda-scl-pins {
			pins = "gpio72", "gpio73";
			function = "gsbi10";
			drive-strength = <8>;
			bias-disable;
		};
	};

	hdmi_pinctrl: hdmi-state {
		ddc-pins {
			pins = "gpio170", "gpio171";
			function = "hdmi";
			drive-strength = <2>;
			bias-pull-up;
		};

		hpd-pins {
			pins = "gpio172";
			function = "hdmi";
			drive-strength = <16>;
			bias-disable;
		};

		cec-pins {
			pins = "gpio169";
			function = "hdmi";
			drive-strength = <16>;
			bias-pull-down;
		};
	};
};

&sdcc1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	vmmc-supply = <&pm8901_l5>;
	vqmmc-supply = <&pm8901_lvs0>;
	/* DMA disabled - PIO mode works reliably for eMMC */
};

&sdcc4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&sdcc4_pins>, <&wlan_gpios>;
	#address-cells = <1>;
	#size-cells = <0>;
	disable-wp;

	/* WiFi power supplies (from legacy kernel wifi_power function):
	 * - pm8901_l1: 3.3V VDD_WLAN_3V3 (main supply)
	 * - pm8901_l3: 3.3V WLAN_PA_3V3 (power amplifier, always-on)
	 * - pm8058_l19: 1.8V VDD_1.8 (I/O supply, always-on)
	 * - pm8058_s3: 1.8V DVDD_SDIO_1V8 (SDIO I/O, always-on)
	 */
	vmmc-supply = <&pm8901_l1>;   /* 3.3V main supply */
	vqmmc-supply = <&pm8058_s3>;  /* 1.8V SDIO I/O supply */

	mmc-pwrseq = <&ath6kl_pwrseq>;

	/*
	 * DMA: Disabled for testing - PIO mode
	 * ADM DMA causes hang during WiFi init
	 * TODO: Debug DMA completion issue
	 */
	/* dmas = <&adm_dma1 5 5>, <&adm_dma1 5 5>; */
	/* dma-names = "rx", "tx"; */

	wifi@1 {
		compatible = "atheros,ath6kl";
		reg = <1>;
		atheros,board-id = "SD32";
	};
};

&gsbi3 {
	status = "okay";
	qcom,mode = <GSBI_PROT_I2C>;
};

&gsbi3_i2c {
	status = "okay";
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gsbi3_i2c_pins>;

	mpu3050: mpu3050@68 {
		/* Gyrometer */
		compatible = "invensense,mpu3050";
		reg = <0x68>;

		interrupts-extended = <&tlmm 125 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&mpu3050_gpios>;
		vlogic-supply = <&pm8901_lvs3>; // 1.8V pm8058_l15 type > TOPAZ_DVT
		vdd-supply = <&pm8058_l15>; // 2.85V
	};

	lsm303dlh_accel: lsm303dlh@18 {
		/* Accelerometer */
		compatible = "st,lsm303dlh-accel";
		st,drdy-int-pin = <1>;
		reg = <0x18>;

		interrupt-parent = <&tlmm>;
		interrupts = <124 IRQ_TYPE_EDGE_RISING>;

		vdd-supply = <&pm8058_l15>;   // 2.85V
		vddio-supply = <&pm8058_s3>;  // 1.8V s3

		pinctrl-names = "default";
		pinctrl-0 = <&accel_pins>;
	};
	lsm303dlh_magn: lsm303dlh@1e {
		/* Magnetometer */
		compatible = "st,lsm303dlh-magn";
		reg = <0x1e>;
		vdd-supply = <&pm8058_l15>;   // 2.85V
		vddio-supply = <&pm8058_s3>;  // 1.8V
	};

	isl29023@44 {
		/* Ambient Light Sensor */
		compatible = "isil,isl29023";
		reg = <0x44>;
		vcc-supply = <&pm8058_l15>;   // 2.85V
	};

	// capacitive proximity??
};

&gsbi4 {
	status = "okay";
	qcom,mode = <GSBI_PROT_I2C>;
};

&gsbi4_i2c {
	status = "okay";
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gsbi4_i2c_pins>;

	/*
	 * MT9M113 1.3MP Front-facing Webcam
	 * Note: Topaz uses regular GPIOs, Opal uses PMIC GPIO for reset
	 */
	camera@3c {
		compatible = "aptina,mt9m113";
		reg = <0x3c>;

		reset-gpios = <&tlmm 106 GPIO_ACTIVE_LOW>;
		powerdown-gpios = <&tlmm 107 GPIO_ACTIVE_LOW>;

		clocks = <&mmcc CAMCLK0_CLK>;
		clock-names = "xvclk";

		vdd-supply = <&pm8058_lvs0>;    // Digital 1.8V
		vddio-supply = <&pm8058_l11>;   // I/O 2.85V
		vaa-supply = <&pm8058_l11>;     // Analog 2.85V

		pinctrl-names = "default";
		pinctrl-0 = <&camera_pins>;

		/*
		 * Port/endpoint configuration for parallel camera interface.
		 *
		 * VFE31 driver has been ported to mainline CAMSS with MMCC
		 * clock controller support. Camera is ready to be enabled.
		 */
		port {
			mt9m113_ep: endpoint {
				bus-type = <1>; /* V4L2_MBUS_PARALLEL */
				remote-endpoint = <&camss_ep>;
			};
		};
	};
};

/*
 * Enable camera subsystem and connect to MT9M113 sensor.
 *
 * MMCC (Multimedia Clock Controller) support has been added with VFE31 driver.
 * Camera subsystem is ready to use.
 */
&camss {
	status = "okay";

	ports {
		port@0 {
			camss_ep: endpoint {
				bus-type = <1>; /* V4L2_MBUS_PARALLEL */
				remote-endpoint = <&mt9m113_ep>;

				/* Parallel interface timing */
				hsync-active = <1>;
				vsync-active = <1>;
				pclk-sample = <1>;
			};
		};
	};
};

/* GPS - Broadcom BCM4751 on GSBI5 UART */
&gsbi5 {
	status = "okay";
	qcom,mode = <GSBI_PROT_UART_W_FC>;
};

&gsbi5_serial {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&gsbi5_uart_pins>;

	uart-has-rtscts;

	gnss {
		compatible = "brcm,bcm4751";

		vddio-supply = <&pm8058_s3>;  /* 1.8V I/O */
		vdd-supply = <&pm8058_l10>;   /* 3.05V core */

		enable-gpios = <&pm8058_gpio 3 GPIO_ACTIVE_HIGH>;  /* GPIO 4 - LNA enable */
		reset-gpios = <&pm8058_gpio 4 GPIO_ACTIVE_LOW>;    /* GPIO 5 - Reset */

		pinctrl-names = "default";
		pinctrl-0 = <&gps_pins>;
	};
};

&gsbi6 {
	status = "okay";
	qcom,mode = <GSBI_PROT_UART_W_FC>;
};

/*
 * Bluetooth GPIO reference (Topaz WiFi):
 * BT_RST_N = GPIO 138
 * BT_POWER = GPIO 130
 * BT_WAKE = GPIO 131
 * BT_HOST_WAKE = GPIO 129
 */
&gsbi6_serial {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&gsbi6_uart_pins>;

	/*
	 * WebOS 2.6 kernel used HSUART with no flow control:
	 * HSUART_MODE_FLOW_CTRL_NONE | HSUART_MODE_PARITY_NONE
	 * Do NOT enable uart-has-rtscts here.
	 */

	bluetooth {
		compatible = "brcm,bcm4329-bt";

		vddio-supply = <&pm8058_s3>;  /* 1.8V s3 */
		vbat-supply = <&pm8058_s3>;  /* 1.8V s3 */

		max-speed = <115200>;  /* WebOS used HSUART_SPEED_115K */
		/* brcm,bt-pcm-int-params = [00 02 00 01 01]; TODO: PCM link to audio */

		pinctrl-names = "default";
		pinctrl-0 = <&bt_pin>;

		reset-gpios = <&tlmm 138 GPIO_ACTIVE_LOW>;  /* BT_RST_N - active low */
		host-wakeup-gpios = <&tlmm 129 GPIO_ACTIVE_HIGH>;
		device-wakeup-gpios = <&tlmm 131 GPIO_ACTIVE_HIGH>;
		shutdown-gpios = <&tlmm 130 GPIO_ACTIVE_HIGH>;
	};
};

&gsbi12 {
	status = "okay";
	qcom,mode = <GSBI_PROT_UART_W_FC>;
};

&gsbi12_serial {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&headphone_uart_pins>;
};

&gsbi12_i2c {
	status = "okay";
};

&gsbi7 {
	status = "okay";
	qcom,mode = <GSBI_PROT_I2C>;
};

&gsbi7_i2c {
	status = "okay";
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gsbi7_i2c_pins>;

	wm8958: audio-codec@1a {
		compatible = "wlf,wm8958";
		reg = <0x1a>;

		#sound-dai-cells = <0>;

		/* Headphone microphone detection interrupt */
		interrupt-parent = <&tlmm>;
		interrupts = <57 IRQ_TYPE_EDGE_FALLING>;

		/* Power supplies */
		AVDD2-supply = <&pm8058_l4>;      // 2.85V
		CPVDD-supply = <&pm8058_l4>;      // 2.85V
		DBVDD1-supply = <&pm8058_s3>;     // 1.8V
		DBVDD2-supply = <&pm8058_s3>;     // 1.8V
		DBVDD3-supply = <&pm8058_s3>;     // 1.8V
		DCVDD-supply = <&pm8058_s3>;      // 1.8V
		AVDD1-supply = <&pm8058_l4>;      // 2.85V
		SPKVDD1-supply = <&pm8058_l4>;    // 2.85V
		SPKVDD2-supply = <&pm8058_l4>;    // 2.85V
		LDO1VDD-supply = <&pm8058_l4>;    // 2.85V supply for internal LDO1
		LDO2VDD-supply = <&pm8058_s3>;    // 1.8V supply for internal LDO2

		/* LDO enable GPIO control */
		wlf,ldo1ena-gpios = <&tlmm 66 GPIO_ACTIVE_HIGH>;
		wlf,ldo2ena-gpios = <&tlmm 108 GPIO_ACTIVE_HIGH>;

		/* GPIO configuration for WM8958 internal GPIOs */
		wlf,gpio-cfg = <
			0x0001  /* GPIO1: AUDIO_AMP_EN (write 0x41 to enable AMP) */
			0x8001  /* GPIO2: MCLK2 Pull Control */
			0x8001  /* GPIO3: BCLK2 Pull Control */
			0x8001  /* GPIO4: DACLRCLK2 Pull Control */
			0x8001  /* GPIO5: DACDAT2 Pull Control */
			0x2005  /* GPIO6: HEAD_MIC_DET routed to GPIO57 */
			0xa101  /* GPIO7: N/A on WM8958 */
			0xa101  /* GPIO8: Not used */
			0xa101  /* GPIO9: Not used */
			0xa101  /* GPIO10: Not used */
			0xa101  /* GPIO11: Not used */
		>;

		/* MICBIAS configuration */
		wlf,micbias-cfg = <0x0029 0x002d>;

		/* Line outputs in differential mode */
		wlf,lineout1-diff;
		wlf,lineout2-diff;

		pinctrl-names = "default";
		pinctrl-0 = <&wm8958_pins>;
	};
};

&gsbi8 {
	status = "okay";
	qcom,mode = <GSBI_PROT_I2C>;
};

&gsbi8_i2c {
	status = "okay";
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gsbi8_i2c_pins>;

	lm8502: led-controller@33 {
		compatible = "ti,lm8502";
		reg = <0x33>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		vcc-supply = <&pm8058_l16>;
		enable-gpios = <&tlmm 121 GPIO_ACTIVE_HIGH>;

		interrupt-parent = <&tlmm>;
		interrupts = <128 IRQ_TYPE_EDGE_FALLING>;

		pinctrl-names = "default";
		pinctrl-0 = <&lm8502_pins>;

		/*
		 * HP TouchPad navigation bar LEDs.
		 * Uses D1 (reg 0) and D2 (reg 1) outputs on LM8502.
		 * Confirmed via webOS debugfs register dump.
		 */
		led@0 {
			reg = <0>;
			label = "lm8502:white:navi_left";
			color = <LED_COLOR_ID_WHITE>;
			function = LED_FUNCTION_INDICATOR;
			led-max-microamp = <9000>;
		};
		led@1 {
			reg = <1>;
			label = "lm8502:white:navi_right";
			color = <LED_COLOR_ID_WHITE>;
			function = LED_FUNCTION_INDICATOR;
			led-max-microamp = <9000>;
		};
	};

	/*
	 * A6 Battery Controllers - TI MSP430 microcontrollers
	 * These provide battery monitoring, fuel gauge, power management,
	 * and Touchstone (inductive charging) support.
	 *
	 * NOTE: Interrupt GPIO differs between board revisions:
	 * - Pre-DVT (EVT1-EVT3): A6_0 IRQ=156, A6_1 IRQ=132
	 * - DVT/PVT (production): A6_0 IRQ=37, A6_1 IRQ=94
	 *
	 * Default configuration is for DVT/PVT (production devices).
	 */
	a6_0: battery@31 {
		compatible = "palm,a6-battery";
		reg = <0x31>;

		palm,device-index = <0>;

		/* GPIO pins for SBW (Spy-Bi-Wire) firmware programming */
		tck-gpios = <&tlmm 157 GPIO_ACTIVE_HIGH>;
		tdio-gpios = <&tlmm 158 GPIO_ACTIVE_HIGH>;
		wakeup-gpios = <&tlmm 155 GPIO_ACTIVE_HIGH>;

		/* Interrupt GPIO - DVT/PVT uses GPIO 37 (pre-DVT: 156) */
		interrupt-parent = <&tlmm>;
		interrupts = <37 IRQ_TYPE_EDGE_FALLING>;

		pinctrl-names = "default";
		pinctrl-0 = <&a6_0_default>;
	};

	a6_1: battery@32 {
		compatible = "palm,a6-battery";
		reg = <0x32>;

		palm,device-index = <1>;

		/* GPIO pins for SBW (Spy-Bi-Wire) firmware programming */
		tck-gpios = <&tlmm 115 GPIO_ACTIVE_HIGH>;
		tdio-gpios = <&tlmm 116 GPIO_ACTIVE_HIGH>;
		wakeup-gpios = <&tlmm 141 GPIO_ACTIVE_HIGH>;

		/* Interrupt GPIO - DVT/PVT uses GPIO 94 (pre-DVT: 132) */
		interrupt-parent = <&tlmm>;
		interrupts = <94 IRQ_TYPE_EDGE_FALLING>;

		pinctrl-names = "default";
		pinctrl-0 = <&a6_1_default>;
	};
};

&gsbi10 {
	status = "okay";

	/*
	 * GSBI10 runs in combined I2C+UART mode for the CY8CTMA395 touchscreen:
	 * - I2C: Configuration, calibration, firmware updates (address 0x67)
	 * - UART: Touch data stream at 4 Mbps (/dev/ttyMSM2)
	 * See TOUCHSCREEN_MULTI_SLAVE_ANALYSIS.md for protocol details.
	 */
	qcom,mode = <GSBI_PROT_I2C_UART>;
};

&gsbi10_serial {
	status = "okay";
	/*
	 * CY8CTMA395 touch data UART interface
	 * Touch data packets: 0xFF 0x43 (scan data), 0xFF 0x47 (scan complete)
	 * Baud rate: 4 Mbps (configured by userspace ts-srv or kernel driver)
	 */
};

&gsbi10_i2c {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gsbi10_i2c_pins>;

/*
	 * Cypress CY8CTMA395 TrueTouch Capacitive Touchscreen Controller
	 *
	 * The HP TouchPad uses a Cypress PSoC-based touchscreen controller:
	 * - I2C address: 0x67 (for configuration, calibration, firmware)
	 * - UART: /dev/ttyMSM2 at 4 Mbps (for touch data stream)
	 * - IRQ/Wake GPIO: 123 (WiFi) or 45 (3G)
	 * - Reset GPIO: 70 (TP_PWR_RST / XRES)
	 * - Power: PM8058_L10 (3.05V digital) + 5V boost (analog)
	 *
	 * IMPORTANT: Touch data is transmitted over UART, NOT I2C!
	 * The I2C interface is only used for initialization and configuration.
	 * A userspace driver (ts-srv) or kernel serdev driver is required.
	 * See TOUCHSCREEN_MULTI_SLAVE_ANALYSIS.md for complete protocol details.
	 *
	 * Architecture: 1x CY8CTMA395 master + 5x CY8CTMA375 slaves (internal)
	 * The slaves are on a private I2C bus inside the master, not accessible
	 * from the host. Master firmware aggregates all touch data.
	 */
	touchscreen: touchscreen@67 {
		compatible = "cypress,cy8ctma340";
		reg = <0x67>;

		vcpin-supply = <&vdd50_boost>;  /* VCPIN - 5V analog supply */
		vdd-supply = <&pm8058_l10>;     /* VDD - 3.05V digital supply */

		interrupts-extended = <&tlmm 123 IRQ_TYPE_LEVEL_LOW>; /* 3G: 45 */
		reset-gpios = <&tlmm 70 GPIO_ACTIVE_LOW>;

		/* Wake GPIO same as IRQ - controlled via sysfs in webOS */
		wakeup-source;

		pinctrl-names = "default";
		pinctrl-0 = <&touch_pins>;

		/* Touchscreen parameters from webOS config */
		touchscreen-size-x = <768>;
		touchscreen-size-y = <1024>;
		touchscreen-fuzz-x = <4>;
		touchscreen-fuzz-y = <4>;
	};
};

&pm8058 {
	interrupts-extended = <&tlmm 88 IRQ_TYPE_LEVEL_LOW>;

	pm8058_pwm: pwm@13c {
		compatible = "qcom,pm8058-lpg";
		reg = <0x13c>;
		#pwm-cells = <2>;
		status = "okay";
	};
};

&pm8058_gpio {
	backlight_pwm_gpios: backlight-pwm-state {
		pinconf {
			pins = "gpio24";
			function = "func2";
			bias-disable;
			power-source = <PM8058_GPIO_VPH>;
		};
	};
	backlight_enable_gpios: backlight-enable-state {
		pinconf {
			pins = "gpio25";
			function = "normal";
			bias-disable;
			power-source = <PM8058_GPIO_VPH>;
		};
	};

	/* GPS control pins (Broadcom BCM4751) */
	gps_pins: gps-state {
		/* GPIO 4: GPS LNA enable (REGPU) */
		gpio@3 {
			pins = "gpio4";
			function = "normal";
			output-low;
			power-source = <PM8058_GPIO_S3>;
			qcom,drive-strength = <PMIC_GPIO_STRENGTH_LOW>;
		};

		/* GPIO 5: GPS reset */
		gpio@4 {
			pins = "gpio5";
			function = "normal";
			output-low;
			power-source = <PM8058_GPIO_S3>;
			qcom,drive-strength = <PMIC_GPIO_STRENGTH_LOW>;
		};
	};
};

&pm8058_keypad {
	linux,keymap = <
	MATRIX_KEY(0, 0, KEY_MENU)
	MATRIX_KEY(0, 2, KEY_1)
	MATRIX_KEY(0, 3, KEY_4)
	MATRIX_KEY(0, 4, KEY_7)
	MATRIX_KEY(1, 0, KEY_UP)
	MATRIX_KEY(1, 1, KEY_LEFT)
	MATRIX_KEY(1, 2, KEY_DOWN)
	MATRIX_KEY(1, 3, KEY_5)
	MATRIX_KEY(1, 3, KEY_8)
	MATRIX_KEY(2, 0, KEY_HOME)
	MATRIX_KEY(2, 1, KEY_REPLY)
	MATRIX_KEY(2, 2, KEY_2)
	MATRIX_KEY(2, 3, KEY_6)
	MATRIX_KEY(3, 0, KEY_VOLUMEUP)
	MATRIX_KEY(3, 1, KEY_RIGHT)
	MATRIX_KEY(3, 2, KEY_3)
	MATRIX_KEY(3, 3, KEY_9)
	MATRIX_KEY(3, 4, KEY_SWITCHVIDEOMODE)
	MATRIX_KEY(4, 0, KEY_VOLUMEDOWN)
	MATRIX_KEY(4, 1, KEY_BACK)
	MATRIX_KEY(4, 2, KEY_CAMERA)
	MATRIX_KEY(4, 3, KEY_KBDILLUMTOGGLE)
	>;
	keypad,num-rows = <6>;
	keypad,num-columns = <5>;
};

&pm8058_xoadc {
	/* Reference voltage 2.2 V */
	xoadc-ref-supply = <&pm8058_l18>;

	/* Board-specific channels */
	adc-channel@5 {
		/* Connected to AOUT of ALS sensor */
		reg = <0x00 0x05>;
	};
	adc-channel@6 {
		/* Connected to test point TP43 */
		reg = <0x00 0x06>;
	};
	adc-channel@7 {
		/* Connected to battery thermistor */
		reg = <0x00 0x07>;
	};
	adc-channel@8 {
		/* Connected to battery ID detector */
		reg = <0x00 0x08>;
	};
	adc-channel@9 {
		/* Connected to XO thermistor */
		reg = <0x00 0x09>;
	};
};

&usb1 {
	status = "okay";
	dr_mode = "otg";
};
&usb_hs1_phy {
	v3p3-supply = <&pm8058_l6>;
	v1p8-supply = <&pm8058_l7>;

	/*
	 * HP TouchPad USB PHY tuning parameters from legacy kernel:
	 * - Pre-emphasis: 20% (PRE_EMPHASIS_WITH_20_PERCENT = 0x30)
	 * - HS driver slope: 0x05
	 * - CDR auto reset: DISABLE (bit 1 = 0x02)
	 * - SE1 gating: DISABLE (bit 2 = 0x04)
	 *
	 * These are written to ULPI vendor-specific registers, but the
	 * mainline qcom-usb-hs-phy driver only supports extended vendor
	 * registers (0x80+) via qcom,init-seq. The legacy parameters
	 * targeted registers 0x32 and 0x36 which are in the standard
	 * vendor range (0x30-0x3F).
	 *
	 * For now, we rely on driver defaults which should be safe.
	 * TODO: Investigate if these legacy tuning values need to be
	 * ported to improve signal quality or compatibility.
	 */
};

&lpass {
	status = "okay";
};

&apr {
	status = "okay";
};

&q6asmdai {
	dai@0 {
		reg = <MSM_FRONTEND_DAI_MULTIMEDIA1>;
	};

	dai@1 {
		reg = <MSM_FRONTEND_DAI_MULTIMEDIA2>;
	};

	dai@2 {
		reg = <MSM_FRONTEND_DAI_MULTIMEDIA3>;
	};
};

&q6afedai {
	dai@16 {
		reg = <PRIMARY_MI2S_RX>;
		qcom,sd-lines = <0 1>;
	};

	dai@17 {
		reg = <PRIMARY_MI2S_TX>;
		qcom,sd-lines = <0>;
	};
};

/ {
	sound: sound {
		compatible = "qcom,apq8060-sndcard";
		model = "HP-TouchPad";

		/* DAPM audio routing - mics route directly to input pins
		 * MICBIAS is a SUPPLY widget in modern kernels, so can't be
		 * in the signal path. The codec driver enables MICBIAS when
		 * the corresponding input is powered.
		 */
		audio-routing =
			"Headphone", "HPOUT1L",
			"Headphone", "HPOUT1R",
			"Speaker", "LINEOUT1P",
			"Speaker", "LINEOUT1N",
			"Speaker", "LINEOUT2P",
			"Speaker", "LINEOUT2N",
			"IN1LN", "Internal Mic",
			"IN2LN", "Headset Mic";

		/* Frontend - Multimedia playback (DPCM) */
		mm1-dai-link {
			link-name = "MultiMedia1";
			cpu {
				sound-dai = <&q6asmdai MSM_FRONTEND_DAI_MULTIMEDIA1>;
			};
		};

		mm2-dai-link {
			link-name = "MultiMedia2";
			cpu {
				sound-dai = <&q6asmdai MSM_FRONTEND_DAI_MULTIMEDIA2>;
			};
		};

		/* Backend - Primary MI2S to WM8958 codec */
		pri-mi2s-rx-dai-link {
			link-name = "Primary MI2S Playback";
			cpu {
				sound-dai = <&q6afedai PRIMARY_MI2S_RX>;
			};
			platform {
				sound-dai = <&q6asmdai>;
			};
			codec {
				sound-dai = <&wm8958>;
			};
		};

		pri-mi2s-tx-dai-link {
			link-name = "Primary MI2S Capture";
			cpu {
				sound-dai = <&q6afedai PRIMARY_MI2S_TX>;
			};
			platform {
				sound-dai = <&q6asmdai>;
			};
			codec {
				sound-dai = <&wm8958>;
			};
		};
	};
};

